body {
  width: 100vw;
  height: 100vh;
  font-family: monospace;
  overflow-x: hidden;
  background-color: #2D3039;
  display: flex;
  justify-content: center;
  color: white;
}

#wrapper {
  max-width: 60vw;
}

h1 {
  text-align: center;
  font-size: 300%;
}

h2 {
  font-size: 175%;
}

input {
  padding: 0.5%;
  font-size: 110%;
  outline: none;
  border-radius: 6px;
  border: 1px gray solid;
  width: 20%;
}

input[type=text] {
  width: 75%;
}

span {
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 300%;
}

.code {
  background-color: #F8F8F8;
  color: #343434;
  width: 95%;
  padding: 1%;
  border-radius: 5px;
  border: solid 1.5px #a7a1a1;
  margin: 1% 0 1% 0;
}
